.skill-sect {
  padding-top: 4rem;

  h2 {
    font-family: "PantonRus-Heavy", sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

.list-skill {
    list-style: none;
    padding: 0;
    display: flex;


    gap: 1rem;
    flex-wrap: wrap;

    li {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 48%;

      img {
        width: 3.8rem;
      }

      span {
        font-family: system-ui;
        font-weight: bold;
        color: rgba(200, 200, 200, 1);
      }
    }
}