.header-info {
    background-color: #000;
  }
  
  .mas-info {
    background-color: rgba(10, 10, 10, 1);
    min-height: 100vh;
    padding-top: 7rem;
    padding-bottom: 1rem;
  
    h1 {
      color: #cdcdcd;
      font-size: 2.6rem;
      line-height: 2.9rem;
      font-weight: 800;
      margin-bottom: 1.5rem;
    }
    
    h2 {
      color: #cdcdcd;
      font-weight: 800;
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  
    p {
      font-weight: 300;
      font-size: 1.3rem;
      color: #cdcdcd;
      line-height: 1.7rem;
    }
  
    a {
      font-family: 'Dosis-Bold', sans-serif;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: #f0db4f;
      margin-right: 0.5rem;
      display: inline-block;
      margin-bottom: 1rem;
    }
  
    .separadorLink {
      font-family: 'Dosis';
      font-size: 1rem;
      font-weight: 800;
      padding: 0 1rem 0 0;
      color: #cdcdcd;
    }
  
    .enfasis {
      color: orange;
      font-weight: 600;
  
    }
  }
  
  .nav-empresas {
    a {
      font-family: 'Dosis';
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.5rem;
      color: #f0db4f;
      text-decoration: none;
      display: inline-block;
      padding: 1.5rem 0;
    }
  }
  
  
  @media screen and (min-width: 768px ) {
    .mas-info {
      h1 {
        font-size: 4rem;
        line-height: 4.4rem;
      }
    }
    
  }