.pf-header {
  position: absolute;
  z-index: 10;
  min-width: 100%;

  .navbar-brand {
    color: #fff;
  }

  .nav-link {
    color: #fff;
  }
}

.logo {
  width: 3rem;
  border-radius: 1rem;
}